# Ignorar tudo nos diretórios
# **/*/

# Não ignorar o .gitkeep
!**/.gitkeep

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log

# User-specific files
*.rsuser
